#vc-ytm-player {
    padding: 12px;
    background: var(--bg-overlay-floating,
            var(--background-base-low, var(--background-base-lower-alt)));
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    --vc-ytm-slider-gradient: linear-gradient(to right, #f03 80%, #ff2791 100%);
    --vc-ytm-slider-grabber: #f03;

    /* so custom themes can easily change it */
    --vc-ytm-red-90: color-mix(in hsl,
            var(--vc-ytm-slider-grabber),
            transparent 90%);
    --vc-ytm-red-80: color-mix(in hsl,
            var(--vc-ytm-slider-grabber),
            transparent 80%);
}

.vc-ytm-song-info-prefix {
    display: none;
}

.vc-ytm-artist,
.vc-ytm-album {
    color: var(--header-primary);
}

.vc-ytm-secondary-song-info {
    font-size: 12px;
}

#vc-ytm-progress-bar {
    position: relative;
    color: var(--text-default);
    width: 100%;
    margin: 0.5em 0;
    margin-bottom: 5px;
}

#vc-ytm-progress-bar [class^="slider"] {
    flex-grow: 1;
    width: 100%;
    padding: 0;
    cursor: pointer;
}

#vc-ytm-progress-bar > [class^="slider"] [class^="bar"] {
    height: 3px;
    top: calc(12px - 4px / 2 + var(--bar-offset));
}

#vc-ytm-progress-bar [class^="barFill"] {
    background: var(--vc-ytm-slider-gradient) !important;
}

#vc-ytm-progress-bar:hover [class^="barFill"] {
    background: var(--vc-ytm-slider-gradient) !important;
}

#vc-ytm-progress-bar > [class^="slider"] [class^="grabber"] {
    background-color: var(--vc-ytm-slider-grabber);
    width: 12px;
    height: 12px;
    margin-top: calc(13px / -2 + var(--bar-offset) / 2);
    margin-left: -0.5px;
    border: unset;
    color: var(--interactive-icon-default);
    opacity: 0;
    transition: opacity 0.1s;
}

#vc-ytm-progress-bar:hover > [class^="slider"] [class^="grabber"] {
    opacity: 1;
}

.vc-ytm-progress-time {
    margin-top: 8px;
    font-family: var(--font-code);
    font-size: 12px;
    top: 10px;
    position: absolute;
}

.vc-ytm-button-row {
    justify-content: center;
    margin-top: 14px;
    gap: 13px !important;
}

.vc-ytm-button {
    margin: 0 2px;
    border-radius: var(--radius-sm);
    background: none;
    color: var(--interactive-icon-default);
    padding: 0;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.vc-ytm-button:hover {
    color: var(--interactive-icon-hover);
    background-color: var(--background-mod-strong);
}

.vc-ytm-button svg {
    height: 24px;
    width: 24px;
}

[class*="shuffle"] > svg,
[class*="repeat"] > svg {
    width: 22px;
    height: 22px;
}

.vc-ytm-button.vc-ytm-lyrics svg {
    width: 22px;
    height: 22px;
    flex-shrink: 0;
}

.vc-ytm-button.vc-ytm-lyrics {
    overflow: hidden;
}

.vc-ytm-button.vc-ytm-repeat-context,
.vc-ytm-button.vc-ytm-repeat-track,
.vc-ytm-button.vc-ytm-shuffle-on {
    color: var(--vc-ytm-slider-grabber);
}

.vc-ytm-button.vc-ytm-repeat-context:hover,
.vc-ytm-button.vc-ytm-repeat-track:hover,
.vc-ytm-button.vc-ytm-shuffle-on:hover {
    color: var(--vc-ytm-slider-grabber);
}

.vc-ytm-repeat-1 {
    font-size: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-muted);
    font-weight: bold;
}

#vc-ytm-info-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    gap: 0.5em;
}

#vc-ytm-info-wrapper img {
    height: 90%;
    object-fit: contain;
}

#vc-ytm-album-expanded-wrapper img {
    width: 100%;
    object-fit: contain;
}

#vc-ytm-titles {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    align-items: flex-start;
    place-content: flex-start center;
    overflow: hidden;
}

#vc-ytm-song-title {
    color: var(--header-primary);
    font-size: 14px;
    font-weight: 600;
}

.vc-ytm-ellipoverflow {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}

.vc-ytm-artist[role="link"]:hover,
#vc-ytm-album-title[role="link"]:hover,
#vc-ytm-song-title[role="link"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

#vc-ytm-album-image {
    border-radius: 3px;
    transition: filter 0.2s;
}

#vc-ytm-album-image:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

#ytm-album-menu-ytm-volume [class^="barFill"] {
    background: linear-gradient(to right, #f03 80%, #ff2791 100%);
}

#ytm-album-menu-ytm-volume [class^="slider"] {
    cursor: pointer;
}

#vc-ytm-progress-text {
    margin: 0;
}

.vc-ytm-time-left {
    left: 0;
}

.vc-ytm-time-right {
    right: 0;
}